svg.trendBars{
    border: solid #333333 1px;
}

svg.trendBars > g >
g.bars >
g.barGroup >
rect.bar {
    fill: #d7dbd9;
    stroke: #989898;
    stroke-width: 2px;
    opacity: 0.9;
}

svg.trendBars > g >
g.bars >
g.barGroup >
rect.bar.highlight {
    stroke: #787878;
    stroke-width: 2px;
    opacity: 1;
}


svg.trendBars > g >
g.lines >
path.line {
    fill: none;
    stroke: #0065BF;
    stroke-width: 2px;
}