svg.wordcloud{
    border: solid #333333 1px;
}

/* Texts */
svg.wordcloud >
g.texts >
text{
    fill: #4c4c4c;
    text-anchor: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    /* No select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

svg.wordcloud >
g.texts >
text.highlighted{
    fill: #0065BF;
    font-weight: bold;
    /* text-decoration: underline; */
}